.register-page{
    background-color: #1da2f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

form{
    background-color: rgb(231, 230, 230);
    width: 300px;
    padding: 50px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.check{
    display: flex;
    gap: 20px;
    padding: 30px 0px;
}


.check input{
    width: 30px;
    height: 30px;
}

.check a{
    color: #1da2f4;
    text-decoration: none;
}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #24abff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


.register-page .container p{
    text-align: center;
    color: #92d5ff;
}
.register-page .container p a{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.register-page .container div{
    padding-bottom: 20px;
}

span{
    color: #ff0000;
    font-size: 12px;
}
